.navbar-custom {
    /* padding-left: 5%;
    padding-right: 5%; */
    padding: 1% 7%;
}

.navbar-logo {
    font-size: 24px;
}

.logo {
    width: 25%;
}

.nav-theme {
    background: #101018f8;
    font-size: 20px;
}

.animate-navbar {
    box-shadow: 1px 1px 1px #222;
    animation: moveDown 0.5s ease-in-out;
}

@keyframes moveDown {
    from {
        transform: translateY(-5rem);
    }
    to {
        transform: translateY(0rem);
    }
}